" ===============================
" Summary
" REF: https://jb.gg/h38q75
" ===============================

" NOTE: The .ideavimrc is a configuration file for the IdeaVim plugin.
"       It uses the same commands as the original .vimrc configuration.


" ===============================
" Source Existing Vim Config
" ===============================

source ~/.vimrc


" ===============================
" General Settings
" ===============================

if !has('unix') && !has('mac')
  let &shell = '"C:\WINDOWS\system32\cmd.exe"'
endif

set clipboard+=ideaput


" ===============================
" Enable IdeaVim Plugins
" REF: https://jb.gg/ideavim-plugins
" ===============================

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'justinmk/vim-sneak'

set which-key


" ===============================
" ReplaceWithRegister Remaps
" ===============================

nmap <Leader>pr  <Plug>ReplaceWithRegisterOperator
nmap <Leader>prr <Plug>ReplaceWithRegisterLine
xmap <Leader>pr  <Plug>ReplaceWithRegisterVisual


" ===============================
" Which-Key Settings
" ===============================

let g:WhichKey_FontFamily = 'Cascadia Code'
let g:WhichKey_FontSize = 14


" ===============================
" IdeaVim Specific Remaps
" ==============================

" Edit IdeaVim Configuration
map <leader>ve :e ~/.ideavimrc<CR>

" Reload IdeaVim Configuration
map <leader>vs :source ~/.ideavimrc<CR>

" Don't use Ex Mode, use Q for Formatting
map Q gq


" ===============================
" LSP Remaps
" REF: https://jb.gg/abva4t
" ===============================

" Go to References
map gr <Action>(ShowUsages)

" Go to Declaration
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoDeclaration)

" Go to Implementation
map gI <Action>(ReSharperGotoImplementation)

" Go to Type Definition
map gy <Action>(GotoTypeDeclaration)

" Quick Definition
map gk <Action>(QuickImplementations)
map <C-k> <Action>(QuickImplementations)

" Quick Documentation
map gK <Action>(ShowHoverInfo)

" Code Action
map <leader>ca <Action>(ShowIntentionActions)
map <leader>cA <Action>(ShowIntentionActions)

" Code Vision (Codelens)
map <leader>cc <Action>(CodeVision.ShowMore)
map <leader>cC <Action>(CodeVision.ShowMore)

" Rename Element
map <leader>cr <Action>(RenameElement)

" Rename File
map <leader>cR <Action>(RenameFile)

" Format
map <leader>cf <Action>(ReformatCode)

" Next Reference
map ]] <Action>(MethodDown)
map <a-n> <Action>(MethodDown)

" Previous Reference
map [[ <Action>(MethodUp)
map <a-p> <Action>(MethodUp)


" ===============================
" Map IDE Actions to IdeaVim
" REF: https://jb.gg/abva4t
" ===============================

" Toggle View Modes
map <C-z> <Action>(ToggleZenMode)

" Show Menus
nmap <leader>mm <Action>(MainMenu)
nmap <leader>ma <Action>(AnalyzeMenu)
nmap <leader>mb <Action>(BuildMenu)
nmap <leader>mc <Action>(CodeMenu)
nmap <leader>mf <Action>(FindMenuGroup)
nmap <leader>mg <Action>(GoToMenu)
nmap <leader>ms <Action>(ScopeViewPopupMenu)
nmap <leader>mt <Action>(EditorTabPopupMenu)
nmap <leader>mw <Action>(ToolWindowsGroup)

" General Navigation
nmap <C-i> <Action>(Back)
nmap <C-o> <Action>(Forward)
nmap <leader>1 <Action>(GoToTab1)
nmap <leader>2 <Action>(GoToTab2)
nmap <leader>3 <Action>(GoToTab3)
nmap <leader>4 <Action>(GoToTab4)
nmap <leader>5 <Action>(GoToTab5)
nmap <leader>6 <Action>(GoToTab6)
nmap <leader>7 <Action>(GoToTab7)
nmap <leader>8 <Action>(GoToTab8)
nmap <leader>9 <Action>(GoToTab9)

" UI Management
nmap <leader>ul <Action>(EditorToggleShowLineNumbers)

" Terminal
map <leader>ft <Action>(ActivateTerminalToolWindow)
map <leader>fT <Action>(Terminal.OpenInTerminal)
map <C-/> <Action>(ActivateTerminalToolWindow)

" Window Management
map <leader>wd <Action>(HideActiveWindow)
map <leader>wD <Action>(HideAllWindows)
map <C-Esc> <Action>(HideAllWindows)
map <leader>ww <Action>(JumpToLastWindow)
map <leader>wm <Action>(WindowMenu)
map <leader>w- <Action>(SplitHorizontally)
map <leader>w| <Action>(SplitVertically)
map <leader>- <Action>(SplitHorizontally)
map <leader>| <Action>(SplitVertically)

" Split Resize
map <C-Up> <Action>(StretchSplitToTop)
map <C-Down> <Action>(StretchSplitToBottom)
map <C-Left> <Action>(StretchSplitToLeft)
map <C-Right> <Action>(StretchSplitToRight)

" New File
map <leader>fn <Action>(NewFile)

" Tab Management
map <leader><tab>d <Action>(CloseEditor)
map <leader>bd <Action>(CloseEditor)
map <leader>bD <Action>(CloseAllEditors)

" Bufferline.nvim
map <leader>bl <Action>(CloseEditor)
map <leader>bo <Action>(CloseAllEditorsButActive)
map <leader>bp <Action>(PinActiveTab)
map <leader>bP <Action>(CloseAllUnpinnedEditors)
map <leader>br <Action>(CloseEditor)
map [b <Action>(PreviousTab)
map ]b <Action>(NextTab)
map <A-h> <Action>(PreviousTab)
map <A-l> <Action>(NextTab)

" Mason.nvim
map <leader>cm <Action>(ShowSettings)

" Neo-tree.nvim
map <leader>be <Action>(Switcher)
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>E <Action>(ActivateProjectToolWindow)
map <leader>fe <Action>(ActivateProjectToolWindow)
map <leader>fE <Action>(ActivateProjectToolWindow)
map <leader>ge <Action>(CheckinProject)

" Nvim-spectre
map <leader>sr <Action>(ReplaceInPath)

" Telescope.nvim
map <leader><space> <Action>(SearchEverywhere)
map <leader>, <Action>(SwitchRecentFiles)
map <leader>/ <Action>(SearchEverywhere)
map <leader>: <Action>(FindAction)
map <leader>fb <Action>(Switcher)
map <leader>fc <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)
map <leader>fF <Action>(GotoFile)
map <leader>fg <Action>(SearchEverywhere)
map <leader>fr <Action>(RecentFiles)
map <leader>fR <Action>(RecentFiles)
map <leader>gc <Action>(VcsShowTabbedFileHistory)
map <leader>gs <Action>(Vcs.ShowChangesToolWindow)
map <leader>s\" <Action>(SelectInProjectView)
map <leader>sa <Action>(SelectInProjectView)
map <leader>sb <Action>(SelectInProjectView)
map <leader>sc <Action>(SelectInProjectView)
map <leader>sC <Action>(SelectInProjectView)
map <leader>sd <Action>(FindInPath)
map <leader>sD <Action>(FindInPath)
map <leader>sg <Action>(FindInPath)
map <leader>sG <Action>(FindInPath)
map <leader>sh <Action>(HelpTopics)
map <leader>sj <Action>(JumpToLastWindow)
map <leader>sk <Action>(GotoAction)
map <leader>sl <Action>(RecentLocations)
map <leader>sm <Action>(FindInPath)
map <leader>so <Action>(FindInPath)
map <leader>sq <Action>(FindInPath)
map <leader>sR <Action>(Resume)
map <leader>ss <Action>(GotoSymbol)
map <leader>sw <Action>(FindInPath)
map <leader>sW <Action>(FindInPath)
map <leader>sw <Action>(FindInPath)
map <leader>sW <Action>(FindInPath)
map <leader>uC <Action>(ShowSettings)

" Todo-comments.nvim
map <leader>st <Action>(ActivateTODOToolWindow)
map <leader>sT <Action>(ActivateTODOToolWindow)
map <leader>xt <Action>(ActivateTODOToolWindow)
map <leader>xT <Action>(ActivateTODOToolWindow)
map [t <Action>(Tree-selectPrevious)
map ]t <Action>(Tree-selectNext)

" Trouble.nvim
map <leader>cs <Action>(ActivateProblemsViewToolWindow)
map <leader>cS <Action>(ActivateProblemsViewToolWindow)
map <leader>xL <Action>(ActivateProblemsViewToolWindow)
map <leader>xQ <Action>(ActivateProblemsViewToolWindow)
map <leader>xx <Action>(ActivateProblemsViewToolWindow)
map <leader>xX <Action>(ActivateProblemsViewToolWindow)
map [q <Action>(GotoPreviousError)
map ]q <Action>(GotoNextError)
map [e <Action>(GotoPreviousError)
map ]e <Action>(GotoNextError)

" Nvim-dap
map <leader>da <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dB <Action>(ToggleBreakpointEnabled)
map <leader>dc <Action>(Resume)
map <leader>dC <Action>(ForceRunToCursor)
map <leader>dg <Action>(GotoFile)
map <leader>di <Action>(StepInto)
map <leader>dj <Action>(GotoNextError)
map <leader>dk <Action>(GotoPreviousError)
map <leader>dl <Action>(Rerun)
map <leader>do <Action>(StepOut)
map <leader>dO <Action>(StepOver)
map <leader>dp <Action>(Pause)
map <leader>dr <Action>(ShowQuickDoc)
map <leader>ds <Action>(ShowUsages)
map <leader>dt <Action>(Stop)
map <leader>dw <Action>(ShowSettings)

" Nvim-dap-ui
map <leader>de <Action>(ShowQuickDoc)
map <leader>du <Action>(ShowUsages)

" Aerial.nvim
map <leader>cs <Action>(FileStructurePopup)

" Dial.nvim
map <C-a> <Action>(EditorIncreaseFontSize)
map <C-x> <Action>(EditorDecreaseFontSize)

" Harpoon
map <leader>h <Action>(ActivateBookmarksToolWindow)
map <leader>H <Action>(ToggleBookmark)

" Mini.files
map <leader>fm <Action>(SelectInProjectView)
map <leader>fM <Action>(SelectInProjectView)

" Outline.nvim
map <leader>cs <Action>(FileStructurePopup)

" Refactoring.nvim
map <leader>rb <Action>(RiderBackendAction-ExtractClass)
map <leader>rc <Action>(Refactorings.QuickListPopupAction)
map <leader>rf <Action>(ExtractMethod)
map <leader>rF <Action>(ExtractMethod)
map <leader>ri <Action>(ExtractInterface)
map <leader>rp <Action>(Refactorings.QuickListPopupAction)
map <leader>rP <Action>(Refactorings.QuickListPopupAction)
map <leader>rs <Action>(Refactorings.QuickListPopupAction)
map <leader>rx <Action>(IntroduceVariable)

" Venv-selector.nvim
map <leader>cv <Action>(ShowSettings)

" Neotest
map <leader>tl <Action>(RiderUnitTestRepeatPreviousRunAction)
map <leader>tf <Action>(RiderUnitTestSessionRerunFailedTestsAction)
map <leader>to <Action>(RiderUnitTestFocusExplorerAction)
map <leader>tO <Action>(RiderUnitTestFocusExplorerAction)
map <leader>tr <Action>(GotoTest)
map <leader>ts <Action>(RiderUnitTestFocusExplorerAction)
map <leader>tS <Action>(RiderUnitTestSessionAbortAction)
map <leader>tt <Action>(RiderUnitTestRunContextAction)
map <leader>tT <Action>(RiderUnitTestRunSolutionAction)

" Edgy.nvim
map <leader>ue <Action>(ShowSettings)
map <leader>uE <Action>(ShowSettings)

" Nvim-treesitter-context
map <leader>ut <Action>(ShowSettings)

" Mason.nvim
map <leader>gg <Action>(ShowSettings)
map <leader>gG <Action>(ShowSettings)

" Project.nvim
map <leader>fp <Action>(SelectInProjectView)

" GitHub Copilot
map <leader>aa <Action>(copilot.chat.show)
map <leader>ao <Action>(copilot.openCopilot)

" Package Management
map <leader>ps <Action>(RiderNuGetManagePackagesForCurrentProjectAction)